    /* --------------------------------------------------------
        Nota de Entrega: Sección definición común de tablas
      -------------------------------------------------------- */
    .divTable{ display: table; }
    .divTableRow { display: table-row;}
    .divTableHeading { display: table-header-group;}
    .divTableCell, .divTableCell10, .divTableCell40, .divTableCell50, .divTableCell80, .divTableCell90, .divTableHead, .divTableHead10, .divTableHead80, .divTableHead90 { display: table-cell;}
    .divTableFoot { display: table-footer-group;}
    .divTableBody { display: table-row-group;}
    /* ----------------------------------------------------------
        Nota de Entrega: Sección Identificación del Documento
       ---------------------------------------------------------- */
    div.NE_DataSection {
      font-family: Arial, Helvetica, sans-serif;
      width: 20%;
      line-height: 1.1em;
      text-align: center;
      font-weight: bold;
      border: 0px solid #AAAAAA;
    }

    .divTable.NE_DataSection .divFormTitle {
        width: 110%;
        position: absolute;
        right: 0px;
        top:0px;
        font-weight: bold;
        font-size: 44px;
        text-align: right;
        line-height: 1.1em;
        font-family: 'Times New Roman', Times, serif;
      }

    .divTable.NE_DataSection .divTableCell, .divTable.NE_DataSection .divTableHead {
      padding: 6px 4px;
      border: 1px solid #AAAAAA;
    }
    .divTable.NE_DataSection .divTableBody .divTableCell {
      font-size: 16px;
    }
    .divTable.NE_DataSection .divTableHeading {
      border-bottom: 0px solid #AAAAAA;
    }
    .divTable.NE_DataSection .divTableHeading .divTableHead {
      font-size: 18px;
      color: #000000;
      text-align: center;
    }

    /* ----------------------------------------------------------
        Nota de Entrega: Sección Datos del Cliente
       ---------------------------------------------------------- */
    div.NE_CustomerSection {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: left;
        border-spacing: 5px 1px;
        line-height: 1em;
      }

      .divTable.NE_CustomerSection .divTableCell, .divTable.NE_CustomerSection .divTableHead {
        border: 0px ;
      }
      .divTable.NE_CustomerSection .divTableHeading .divTableRow .divTableHead10 {
        width: 10%;
      }

      .divTable.NE_CustomerSection .divTableHeading .divTableRow .divTableHead80 {
        width: 80%;
      }

      .divTable.NE_CustomerSection .divTableHeading .divTableRow .divTableHead90 {
        width: 90%;
      }

      .divTable.NE_CustomerSection .divTableBody .divTableRow .divTableCell10 {
        width: 10%;
      }

      .divTable.NE_CustomerSection .divTableBody .divTableRow .divTableCell80 {
        width: 80%;
      }

      .divTable.NE_CustomerSection .divTableBody .divTableRow .divTableCell90 {
        width: 90%;
      }

      .divTable.NE_CustomerSection .divTableBody .divTableCell {
        font-size: 13px;
      }
      .divTable.NE_CustomerSection .divTableHeading {
          border-bottom: 0px ;
      }
      .divTable.NE_CustomerSection .divTableHeading .divTableHead {
        font-size: 15px;
        font-weight: normal;
        color: #000000;
        text-align: center;
      }
    /* ----------------------------------------------------------
        Nota de Entrega: Sección Detalle de Productos
       ---------------------------------------------------------- */
    div.NE_DetalleProductos {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: left;
        border-spacing: 0px 0px;
        padding-left: 5px;

      }

      .divTable.NE_DetalleProductos .divTableCell, .divTable.NE_DetalleProductos .divTableHead {
        border: 0px solid #AAAAAA;
      }
      .divTable.NE_DetalleProductos .divTableHeading .divTableRow .divTableHead10 {
        width: 10%;
        border: 1px solid #AAAAAA;
        text-align: center;
      }

      .divTable.NE_DetalleProductos .divTableHeading .divTableRow .divTableHead80 {
        width: 80%;
        border: 1px solid #AAAAAA;
        text-align: center;
      }

      .divTable.NE_DetalleProductos .divTableHeading .divTableRow .divTableHead90 {
        width: 90%;
        border: 1px solid #AAAAAA;
        text-align: center;
      }

      .divTable.NE_DetalleProductos .divTableBody .divTableRow .divTableCell10 {
        width: 10%;
        text-align: center;
      }

      .divTable.NE_DetalleProductos .divTableBody .divTableRow .divTableCell80 {
        width: 80%;
      }

      .divTable.NE_DetalleProductos .divTableBody .divTableRow .divTableCell90 {
        width: 90%;
        padding-left: 10x;
      }

      .divTable.DetalleProductos .divTableBody .divTableCell {
        font-size: 13px;
        text-align: center;
      }
      .divTable.NE_DetalleProductos .divTableHeading {
          border-bottom: 0px solid #444444;
      }
      .divTable.NE_DetalleProductos .divTableHeading .divTableHead {
        font-size: 15px;
        font-weight: normal;
        color: #000000;
        text-align: center;
      }
    /* ----------------------------------------------------------
        Nota de Entrega: Sección de Totales
       ---------------------------------------------------------- */
      div.NE_Totales {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: left;
        border-spacing: 0px 0px;

      }

      .divTable.NE_Totales .divTableBody .divTableRow .divTableCell50 {
        width: 50%;
        text-align: left;
      }

      .divTable.NE_Totales .divTableBody .divTableRow .divTableCell40 {
        width: 40%;
        text-align: right;
        border: 1px solid #AAAAAA;
      }

        /* ----------------------------------------------------------
        Inventario: Nuevo Visor de Precios
       ---------------------------------------------------------- */
      .basePrice{
        background-color: #E9F0D5;
      }